<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
            <pattern>%d [%t] %-5p %C:%L - %m %n</pattern>
			<charset>utf-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<root level="error">
		<appender-ref ref="stdout" />
	</root>
</configuration>
